/*=================================================
Carousel
=================================================== */


.carousel {
  position: relative;
  margin-bottom: 0;

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-track {
    display: flex;
  }

  .track {
    display: flex;
    flex-flow: row wrap;
  }

  .slide {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: auto;

    img {
      width: 100%;
      margin-bottom: 3em;
    }

    h3 {
      font-weight: 500;
    }

    p {
      font-family: $light;
      font-size: 0.8em;
    }
  } // Single Slide Ends ---->

  .carousel-next,
  .carousel-prev {
    position: absolute;
    top: 20%;
    border: none;
    background: transparent;
    outline: none;
    z-index: 101;
  }

  .carousel-prev {
    left: 0.25em;
  }
  .carousel-next {
    right: 0.25em;
  }

  .slick-dots {
    bottom: 50px;
    z-index: 100;

    li {
      button:before {
        color: $white;
        height: 30px;
        width: 30px;
        font-size: 14px;
        opacity: 1;
      }

      &.slick-active button:before {
        color: $primary-color;
      }
    }
  }
  // Slick Dots Ends ---->

  .carousel-next,
  .carousel-prev {
    position: absolute;
    top: 50%;
    border: none;
    background: transparent;
    outline: none;
    z-index: 101;
    margin-top: -12px;
  }

  .carousel-prev {
    left: 0.25em;
  }
  .carousel-next {
    right: 0.25em;
  }

} // Carousel Ends ---->
