/*=================================================
Containers
=================================================== */

.wrapper {
  margin: 0 auto;
  position: relative;
  background: #fff;

  @media screen and (max-width: 1086px) {
    box-shadow: none;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 888px;
}
