/*=================================================
Home
=================================================== */

section {
  position: relative;
  z-index: 200;
  h3 {
    max-width: 720px;
    margin: 0 auto;
  }
  p {
    max-width: 720px;
    margin: 0 auto;
  }
}

.parallax-background {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  transform: translate3d(0,0,0);
  transition: 0s linear;
  transition-property: background-position;
  position: relative;
  z-index: 100;
}

.hero {
  background-image: url('../../assets/images/S-Beyond Sustainability-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center center;
  min-height: 100vh;
  padding: 60px 0;
  position: relative;
  text-align: center;

  .hp-breadcrumb {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: $base-font;
    font-size: 12px;
    color: $white;
    letter-spacing: 0;
    line-height: 12px;
    padding: 0;
    background-color: transparent;
    margin: 0;
  }

  .copy {
    color: $white;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    h3 {
      color: $white;
      font-family: $condensed;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 42px;
      margin-bottom: 30px;

      span {
        display: block;
        color: $secondary-color;
      }
    }

    p {
      font-family: $base-font;
      font-size: 21px;
      letter-spacing: -0.22px;
      line-height: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;

    .hp-breadcrumb {
      display: block;
    }

    .copy {
      h3 {
        font-size: 60px;
        letter-spacing: -0.42px;
        line-height: 80px;
        margin-bottom: 60px;
      }
      p {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 36px;
      }
    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {
    .copy {
      h3 {
        font-size: 72px;
        letter-spacing: -0.5px;
        line-height: 84px;
      }
    }
  }
}

.learn-more {
  background-color: #EBF0EA;
  padding: 30px;
  text-align: center;

  h4 {
    font-family: $condensed;
    font-size: 18px;
    color: $primary-color;
    letter-spacing: 0;
    line-height: 27px;
  }

  a {
    font-family: $base-font;
    font-size: 16px;
    color: $primary-color;
    letter-spacing: -0.36px;
    line-height: 18px;
    text-decoration: none;

    &:after {
      content: '';
      width: 11.25px;
      height: 5.64px;
      display: inline-block;
      background-image: url('../../assets/images/svg/chevron-down.svg');
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 11.25px 5.64px;
      margin-left: 10px;
      position: relative;
      top: -1px;
    }
  }

  img {
    width: 75%;
    max-width: 270px;
    height: auto;
    margin: 0 auto 20px;
  }


  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    h4 {
      font-size: 24px;
      line-height: 36px;
    }
    a {
      font-size: 20px;
      line-height: 24px;

      &:after {
        width: 15px;
        height: 7.5px;
        background-size: 15px 7.5px;
      }
    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {

  }
}

.consumption {
  background-image: url('../../assets/images/consumption-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding: 60px 0;

  .copy {
    color: $white;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    h3 {
      color: $white;
      font-family: $condensed;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 42px;
      margin-bottom: 30px;
    }

    p {
      font-family: $light;
      font-size: 21px;
      letter-spacing: -0.3px;
      line-height: 30px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .copy {
      h3 {
        font-size: 64px;
        letter-spacing: -0.44px;
        line-height: 76px;
      }
      p {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 36px;

        strong {
          display: block;
        }
      }
    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {
    .copy {
      h3 {
        font-size: 72px;
        letter-spacing: -0.5px;
        line-height: 84px;
      }
      p {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }
}

.measuring {
  min-height: 85vh;
  background-color: $primary-color;

  .carousel {
    // height: 100%;
  }

  .slick-list,
  .slick-track {
    // height: 100%;
    min-height: 85vh;
  }

  .slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 100px;
    background-color: $primary-color;

    .bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.2;
    }

    .copy {
      position: relative;
      width: 100%;
      text-align: center;
      color: $white;
      z-index: 5;

      h3 {
        color: $white;
        font-family: $condensed;
        font-size: 28px;
        letter-spacing: 0;
        line-height: 30px;
      }

      p {
        color: $secondary-color;
        font-family: $condensed;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      text-align: center;

      .copy {
        align-self: start;
        margin: 0 auto;
      }

      .img {
        position: absolute;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        background-size: contain;
        z-index: 4;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: -50%;

      }
    }
  }

  .slick-dots {
    bottom: 40px;
  }

  .carousel .slick-dots {
    li {
      &.slick-active button:before {
        color: #06102B;
      }
    }
  }

  .slide-gradient {
    .bg-gradient {
      z-index: 1;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0.34;
      background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.56) 49%, #000000 100%);
    }
  }

  .slide-1 {
    .copy {
      h3 {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 30px;
      }
      h3, hr {
        margin-bottom: 30px;
      }

      p {
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 0;
      }
    }
  }

  .slide-2 {
    .copy {
      p {
        color: $white;
      }
    }
    .lca-chart {
      display: none;
    }
  }

  .vertical-list {
    padding: 0;
    margin: 0;
    color: $secondary-color;

    li {
      list-style: none;
      font-family: $condensed;
      font-size: 17px;
      color: $secondary-color;
      letter-spacing: 0;
      line-height: 17px;
      margin-bottom: 28px;

      &:after {
        content: '';
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 1px;
        height: 20px;
        display: block;
        background: $secondary-color;
        z-index: 2;
        margin-top: 4px;
      }

      &:last-child:after {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    .vertical-list {
      display: none;
    }
    .slide {
      padding: 100px 0 100px;
      .bg {
        opacity: 1;
      }
      .copy {
        h3 {
          font-size: 72px;
          letter-spacing: -0.5px;
          line-height: 82px;
        }
      }
      .content {
        .img {
          display: none;
        }
      }
    }
    .slide-1 {
      .copy {
        h3 {
          font-size: 54px;
          letter-spacing: -0.38px;
          line-height: 76px;
          margin-bottom: 120px;
        }
        hr {
          display: none;
        }
        p {
          font-size: 24px;
          letter-spacing: 0;
          line-height: 36px;
        }
      }
    }
    .slide-2 {
      .copy {
        h3 {
          font-size: 72px;
          letter-spacing: -0.5px;
          line-height: 82px;
        }
        p {
          color: $white;
          font-family: $light;
          font-size: 28px;
          letter-spacing: 0;
          line-height: 38px;
        }
      }
      .lca-chart {
        display: block;
        width: 75%;
        max-width: 550px;
        margin: 40px auto 0;
      }
    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {
    .slide-1 {
      .copy {
        h3 {
          font-size: 60px;
          letter-spacing: -0.42px;
          line-height: 76px;
        }
        p {
          font-size: 28px;
          line-height: 38px;
        }
      }
    }
  }
}

.quote {
  padding: 30px;
  text-align: center;
  background: rgba(196,208,206,0.30);

  &.quote-alt {
    background-color: #E4EBEB;

    blockquote {
      font-size: 28px;
    }
    figcaption {
      font-size: 14px;

      a {
        text-decoration: none;
      }

      &:after {
        content: '';
        width: 5px;
        height: 10px;
        display: inline-block;
        background-image: url('../../assets/images/svg/chevron-right.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 5px 10px;
        margin-left: 5px;
        position: relative;
        top: 1px;
      }
    }
  }

  figure {
    margin: 0;
    max-width: 850px;
    margin: 0 auto;
  }

  blockquote {
    margin: 0 0 30px;
    font-family: $serif;
    font-size: 30px;
    color: #1E8675;
    letter-spacing: -0.27px;
    text-align: center;
    line-height: 36px;
    border-left-width: 0;
    padding: 0;
  }

  figcaption {
    font-family: $light;
    font-size: 12px;
    color: $primary-color;
    letter-spacing: 0;
    line-height: 21px;
  }

  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    padding: 60px;

    &.quote-alt {
      blockquote {
        font-size: 48px;
        line-height: 56px;
      }
      figcaption {
        font-size: 18px;
        line-height: 24px;
      }
    }

    blockquote {
      font-size: 36px;
      letter-spacing: 0;
      line-height: 44px;
      border-left-width: 0;
      padding: 0;
    }

    figcaption {
      font-size: 13px;
      line-height: 32px;
    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {
    blockquote {
      font-size: 46px;
      line-height: 56px;
    }
  }
}

.whats-next {
  background-image: url('../../assets/images/whats-next.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 90vh;
  padding: 90px 0;

  .copy {
    color: $white;
    text-align: center;
    width: 80%;
    margin: 0 auto;

    h3 {
      color: $white;
      font-family: $condensed;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 44px;
      margin-bottom: 120px;

      span {
        display: block;
        color: #A7A8B6;
      }
    }

    .icon-list {
      margin: 0 -20% 60px;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 24px;
          height: auto;
        }

        &.hs-wn-1 img { height: 23px; }
        &.hs-wn-2 img { height: 18.5px; }
        &.hs-wn-3 img { height: 24px; }
        &.hs-wn-4 img { height: 24px; }
        &.hs-wn-5 img { height: 28px; }
        &.hs-wn-6 img { height: 20px; }
        &.hs-wn-7 img { height: 23px; }
      }
    }

    p {
      font-family: $light;
      font-size: 21px;
      letter-spacing: -0.3px;
      line-height: 30px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

    .copy {
      h3 {
        font-size: 64px;
        line-height: 85px;
      }

      .icon-list {
        margin: 0 0 60px;

        li {
          margin-right: 42px;

          img {
            width: 40px;
            height: auto;
          }

          &.hs-wn-1 img { height: 38px; }
          &.hs-wn-2 img { height: 31px; }
          &.hs-wn-3 img { height: 40px; }
          &.hs-wn-4 img { height: 40px; }
          &.hs-wn-5 img { height: 47px; }
          &.hs-wn-6 img { height: 33px; }
          &.hs-wn-7 img { height: 39px; }
        }
      }

      p {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 36px;
      }
    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {
    .copy {
      h4 {
        font-size: 36px;
        line-height: 48px;
      }

      h3 {
        font-size: 72px;
        line-height: 74px;
      }

      p {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }
}

.how-we-are-doing {
  min-height: 85vh;
  background-color: $white;

  .carousel {
    height: 100%;
  }

  .slick-list,
  .slick-track {
    height: 100%;
    min-height: 85vh;
  }

  .carousel .slick-dots {
    li {
      button:before {
        color: #EBF0EA;
      }

      &.slick-active button:before {
        color: #435B57;
      }
    }
  }

  .slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: initial;
    padding: 50px 0 60px;
    background-image: url('../../assets/images/bg-chair.png');

    &.slide-2, &.slide-3 {
      background-image: none;
    }

    .copy {
      width: 100%;
      text-align: center;
      color: $white;

      h3 {
        color: $primary-color;
        font-family: $condensed;
        font-size: 26px;
        letter-spacing: 0;
        line-height: 30px;
        margin-bottom: 15px;
      }

      p {
        color: $primary-color;
        font-family: $light;
        font-size: 14px;
        letter-spacing: -0.15px;
        line-height: 22px;
        margin-bottom: 15px;
      }

      img.product {
        width: 80%;
        max-width: 300px;
        margin: 0 auto 50px;
      }

      img.chart {
        width: 80%;
        max-width: 640px;
        margin: 0 auto 30px;
      }

      img.chart-desktop {
        display: none;
      }
    }
  }

  .slide-1 {
    background-color: #D8D8D8;
  }

  .slide-2, .slide-3 {
    background-color: $white;
  }

  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    .slide {
      padding: 60px 0 60px;

      .copy {
        h3 {
          display: none;
          font-size: 64px;
          letter-spacing: -0.44px;
          line-height: 76px;
          margin-bottom: 30px;
        }

        p {
          font-size: 24px;
          letter-spacing: -0.26px;
          line-height: 34px;
          margin-bottom: 30px;
        }

        img.product {
          width: 60%;
          margin: 0 auto 60px;
        }

        img.chart {
          display: none;
        }

        img.chart-desktop {
          display: block;
          width: 80%;
          max-width: 640px;
          margin: 0 auto 30px;
        }
      }
    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {
    .slide {
      .copy {
        h3 {
          font-size: 72px;
          letter-spacing: -0.5px;
          line-height: 84px;
        }

        p {
          font-size: 28px;
          letter-spacing: -0.3px;
          line-height: 38px;
        }
      }
    }
  }
}

.living-products {
  min-height: 100vh;

  header {
    margin-top: 60px;
    margin-bottom: 50px;

    h3 {
      font-family: $condensed;
      font-size: 28px;
      color: $primary-color;
      letter-spacing: 0;
      text-align: center;
      line-height: 30px;
      margin-bottom: 15px;
    }

    .clp-logo {
      width: 60px;
      height: auto;
      margin: 0 auto;
    }
  }

  .product {
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
    padding-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    h4 {
      font-family: $condensed;
      font-size: 28px;
      color: $primary-color;
      letter-spacing: 0;
      text-align: center;
      line-height: 30px;
    }
    img {
      width: 80%;
      height: auto;
      margin: 0 auto 20px;
    }
    p {
      width: 90%;
      font-family: $light;
      font-size: 14px;
      color: $primary-color;
      letter-spacing: -0.15px;
      text-align: center;
      line-height: 22px;
      margin-bottom: 15px;
      margin: 0 auto 20px;
    }
    a {
      font-family: $light;
      font-size: 13px;
      color: $white;
      letter-spacing: 0;
      text-align: center;
      line-height: 22px;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      background: #BBC8A0;
      margin: 0 auto;
      padding: 5px 30px 4px;
    }
  }

  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    min-height: auto;
    padding-bottom: 60px;

    header {
      margin-top: 60px;
      margin-bottom: 30px;

      h3 {
        font-size: 64px;
        letter-spacing: -0.44px;
        line-height: 64px;
        margin-bottom: 30px;
      }
    }
    .product-wrapper {
      display: flex;
      flex-direction: row;
      max-width: 920px;
      margin: 0 auto;
    }
    .product {
      flex-grow: 1;
      margin-bottom: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      p {
        flex-grow: 1;
      }

      img {
        height: 230px;
        margin: 0 auto 20px;
      }

      &.chair {
        img {
          width: 172.5px;
        }
      }

      &.table {
        img {
          width: 269px;
        }
      }

    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {

  }
}

.help {
  padding: 30px;
  background-color: $primary-color;
  color: $white;

  h3 {
    font-family: $condensed;
    font-size: 24px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
  }

  p {
    font-family: $light;
    font-size: 14px;
    color: $white;
    letter-spacing: -0.26px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0;

    a {
      font-family: $light;
      color: $white;
      text-decoration: underline;
    }
  }

  /* Media (768px)
  ------------------------------ */
  @media (min-width: 768px) {
    padding: 50px 30px;
    h3 {
      font-size: 30px;
      line-height: 48px;
    }
    p {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 18px;
    }
  }

  /* Media (1024px)
  ------------------------------ */
  @media (min-width: 1024px) {
    h3 {
      font-size: 48px;
      line-height: 62px;
    }
  }
}
