/*=================================================
Buttons
=================================================== */


  .btn,
  input.btn,
  input[type="button"],
	.btn:link,
	.btn:visited,
  .oldernewer p a {
    color: lighten($secondary-color, 5%);
		border: solid 1px $secondary-color;
		background: $white;
    display: inline-block;
		font-size: .9em;
    font-weight: 400;
		letter-spacing: .05em;
    line-height: 1;
    position: relative;
    padding: .6em 2em;
    border-radius: $border-radius;
    box-shadow: 0 2px 2px rgba(darken($secondary-color, 30%), 0.10), 0 2px 5px rgba(darken($secondary-color, 30%), 0.07), 0 2px 7px rgba(darken($secondary-color, 30%), 0.05);
    transition: all, 0.25s;



    /*  Generic Button Hover Styling  */
    /*  ---------------------------------------------------*/

    &:hover {
      transition: all, 0.25s;
			color: $white;
			background: rgba($secondary-color, 0.55);
      text-decoration: none;
    }


    /*  Generic Button Focus Styling  */
    /*  ---------------------------------------------------*/
    &:focus,
    &:active {
      transition: all, 0.25s;
			color: $white;
			background: rgba($secondary-color, 0.9);
      text-decoration: none;
      outline: none;
    }



  } // End Base Button Styles---->


