/*=================================================
Inputs
=================================================== */


/*=================================================
Base Inputs Styles
=================================================== */

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  input[type="tel"],
  input[type="search"],
  input[type="select"],
  textarea {
    color: $text-color;
    background-color: $white;
    border-color: $border-color;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius;
    width: 100%;
    max-width: 100%;
    padding: 0.25em 0.5em;
    height: 2.5em;
    box-sizing: border-box;
    outline: none;
    line-height: 1;
    font-family: $light;
    transition: border-color, 0.25s;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
  }

  /* Textarea Overides */
  textarea {
    height: auto;
    min-height: 5em;
  }

  /* File Upload Overides */
  input[type="file"] {
    border: none;
    box-shadow: none;
    height: auto;
  }

  /* Search Overide */
  article .search-excerpt {
    background-color: rgba($tertiary-color, 0.75);
    text-transform: capitalize;
  }

  input:disabled {
    background: #efefef;
    color: #aaa;
  }




  /*  Focus Styling  */
  /*  ---------------------------------------------------*/

  input[type="text"]:focus,
  input[type="search"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="time"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    background-color: #ffffff;
    border-color: darken($border-color, 15%);
    transition: border-color, 0.25s;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(203, 51, 59, 0.6);
  }




  /*  Labels  */
  /*  ---------------------------------------------------*/

  label {
    display: inline;
    margin-right: 0.5em;
    font-size: 0.9em;
    color: lighten($text-color, 25%);
    font-family: $light;
  }




  /*=================================================
  Checkboxes and Radios
  =================================================== */


  input[type="radio"],
  input[type="checkbox"] {
    top: -0.5em;
    margin-bottom: 0.5em;
    visibility: hidden;
    width: 2.5em;
    position: relative;

    label {
      margin-top: 0.25em;
      padding-left: 0.25em;

    }

      /* Create new input */
      &:before {
        content: '';
        visibility: visible;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 1.5em;
        height: 1.5em;
        background: $white;
        border: 1px solid rgba(gray, 0.5);
        transition: background, 0.25s;
      }

      &:checked:before {
        background: $tertiary-color;
        opacity: 1;
        transition: background, 0.25s;
      }

      /* checkmark */
      &:checked:after {
        content: '';
        border: 3px solid $white;
        display: inline-block;
        visibility: visible;
        position: absolute;
        left: 0.25em;
        top: 0.4em;
        width: 0.9em;
        height: 0.4em;
        border-top-width: 0;
        border-right-width: 0;
        transform: rotate(-45deg);
      }

    } // Input Ends ---->


  /* Radios
  =================================================== */

    input[type="radio"]:before {
      border-radius: 50%;
    } // Input Ends ---->
