/*=================================================
General Mixins
=================================================== */


@mixin r-image {
 	width: 100%;
 	height: auto;
}

@mixin v-align {
	top: 50%;
	transform: translateY(-50%);
}


