/*=================================================
Typography
=================================================== */


/* Defaults
=================================================== */



html {
  background: #fff;
}

body {
  color: $text-color;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.6;
  background: #F2F2F2;
  font-family: $light;

}

@media screen and (max-width: 1086px) {
  body {
    margin-top: 0;
  }
}

/* Links
=================================================== */

a,
a:visited {
  color: $link-color;
  transition: color, 0.25s;
}


a:hover,
a:active {
  color: $link-active;
  transition: color, 0.25s;
}



/* Headings
=================================================== */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.1;
  color: $heading-color;
}


h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
  color: $black;
}

h1,
.h1 {
  font-size: 3.157em;
}

h2,
.h2 {
  font-size: 2.369em;
}

h3,
.h3 {
  font-size: 1.777em;
}

h4,
.h4 {
  font-size: 1.333em;
}




/*=================================================
List Styles
=================================================== */

ul {
  margin: 0 0 1.45em .75em;
  padding: 0;
  list-style:disc outside;
}
ul ul {
  margin: 0 0 1.45em .75em;
}
ol ul {
  margin: 1em 0 1em 1em;
}
ol ol {
  margin: 1em 0 1em 1em;
}
ul li {
  list-style: outside;
  margin: 0 0 .20em 0;
}

ol {
  margin: 0 0 1em 1.5em;
  list-style-type:decimal;
}

ol li {
  margin: 0 0 .5em 0;
}



li li {
  font-size:1 em; /* maintain font size for nested lists */
}

/*=================================================
Other Elements
=================================================== */

p,
li,
form,
td {
  margin: 0 0 1.3em 0;
}


b,
strong {
  font-weight:700;
}

small,
.font_small {
  font-size: 0.75em;
}

hr {
  color: $secondary-color;
  background-color: $secondary-color;
  height: 1px;
  border: none;
  margin: 0 0 1.3em 0;
}
