/*=================================================
Sass Variables
=================================================== */

/* Colors
=================================================== */

$primary-color:       #435B57;
$secondary-color:     #BBC8A0;
$tertiary-color:      #4E6E5D;

$black:                #12130F;
$white:                #fff;


$text-color:          #58595B;
$heading-color:       rgba($black, 0.90);

$link-color:          $tertiary-color;
$link-active:         darken($link-color, 5%);

$border-color:        #DDDDDD;
$disabled-gray:       #cfcfcf;
$primary-gray:        #444;



/*  Generic Colors  */
/*  ---------------------------------------------------*/

$alert-yellow:         #ebe16f;
$alert-red:            #fbe3e4;
$alert-green:          #e6efc2;
$alert-blue:           #d5edf8;

$light-gray:           #f8f9fa;
$gray:                 #eaedf2;
$meta-gray:            #9fa6b4;
$dark-gray:					   #4D4D4D;
$border-gray:				   rgba(gray, 0.5);

$tan:                  #eceee5;

$green:                #7dd667;
$blue:                 blue;
$red:				   #E04006;




/* Project Variables
=================================================== */

$site-width:           1500px;
$container-width:      960px;
$border-radius:        3px;



/* Typography
=================================================== */

$base-font:           UniversLTStd, Helvetica, Arial, sans-serif;
$light:                UniversLTStd-Light, Helvetica, Arial, sans-serif;
$bold:                UniversLTStd-Bold, Helvetica, Arial, sans-serif;
$condensed:           UniversLTStd-LightCn, Arial, sans-serif;
$serif:           Archer-Light, serif;
$base-font-size:      16px;





/*=================================================
Fonts
=================================================== */


