/**
 * @license
 * MyFonts Webfont Build ID 3282798, 2016-09-13T12:46:38-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: UniversLTStd-LightCn by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/47-condensed-light/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1999, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1999, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * Webfont: UniversLTStd-LightObl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/45-light-oblique/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * Webfont: UniversLTStd-Black by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/75-black/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1999, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1999, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * Webfont: UniversLTStd-BoldObl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/65-bold-oblique/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * Webfont: UniversLTStd-Bold by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/65-bold/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * Webfont: UniversLTStd by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/55-roman/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * Webfont: UniversLTStd-BlackObl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/76-black-oblique/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1999, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1999, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * Webfont: UniversLTStd-Obl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/55-oblique/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * Webfont: UniversLTStd-Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/45-light/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3282798
 * Licensed pageviews: 7,000,000
 *
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/32176e");


@font-face {font-family: 'UniversLTStd-LightCn';src: url('../webfonts/32176E_0_0.eot');src: url('../webfonts/32176E_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_0_0.woff2') format('woff2'),url('../webfonts/32176E_0_0.woff') format('woff'),url('../webfonts/32176E_0_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTStd-LightObl';src: url('../webfonts/32176E_1_0.eot');src: url('../webfonts/32176E_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_1_0.woff2') format('woff2'),url('../webfonts/32176E_1_0.woff') format('woff'),url('../webfonts/32176E_1_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTStd-Black';src: url('../webfonts/32176E_2_0.eot');src: url('../webfonts/32176E_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_2_0.woff2') format('woff2'),url('../webfonts/32176E_2_0.woff') format('woff'),url('../webfonts/32176E_2_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTStd-BoldObl';src: url('../webfonts/32176E_3_0.eot');src: url('../webfonts/32176E_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_3_0.woff2') format('woff2'),url('../webfonts/32176E_3_0.woff') format('woff'),url('../webfonts/32176E_3_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTStd-Bold';src: url('../webfonts/32176E_4_0.eot');src: url('../webfonts/32176E_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_4_0.woff2') format('woff2'),url('../webfonts/32176E_4_0.woff') format('woff'),url('../webfonts/32176E_4_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTStd';src: url('../webfonts/32176E_5_0.eot');src: url('../webfonts/32176E_5_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_5_0.woff2') format('woff2'),url('../webfonts/32176E_5_0.woff') format('woff'),url('../webfonts/32176E_5_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTStd-BlackObl';src: url('../webfonts/32176E_6_0.eot');src: url('../webfonts/32176E_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_6_0.woff2') format('woff2'),url('../webfonts/32176E_6_0.woff') format('woff'),url('../webfonts/32176E_6_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTStd-Obl';src: url('../webfonts/32176E_7_0.eot');src: url('../webfonts/32176E_7_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_7_0.woff2') format('woff2'),url('../webfonts/32176E_7_0.woff') format('woff'),url('../webfonts/32176E_7_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTStd-Light';src: url('../webfonts/32176E_8_0.eot');src: url('../webfonts/32176E_8_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/32176E_8_0.woff2') format('woff2'),url('../webfonts/32176E_8_0.woff') format('woff'),url('../webfonts/32176E_8_0.ttf') format('truetype');}

@font-face {
  font-family: 'Archer';
  src: url('../webfonts/Archer-Medium-Pro.eot');
  src: url('../webfonts/Archer-Medium-Pro.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Archer-Medium-Pro.woff2') format('woff2'),
  url('../webfonts/Archer-Medium-Pro.woff') format('woff'),
  url('../webfonts/Archer-Medium-Pro.ttf') format('truetype');
}

@font-face {
  font-family: "Archer-Light";
  src: url('../webfonts/Archer-Light-Pro.eot');
  src: url('../webfonts/Archer-Light-Pro.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Archer-Light-Pro.woff') format('woff'),
  url('../webfonts/Archer-Light-Pro.ttf') format('truetype');
}
